.container {
    display: flex;
    height: 100vh;
  }
  
  .menu {
    width: 90px;
    border-right: 1px solid #333;
    background-color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .content {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
  }

  .menu-item {
    margin-bottom: 20px;
    width: 100%; /* Или нужная вам ширина, если элемент не должен быть на всю ширину */
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .menu-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: rgb(35, 189, 189);
    transition: width 0.3s ease-in-out; 
  }
  
  .menu-item:hover::after {
    width: 5px;
  }
  
  .menu-item:hover {
    cursor: pointer;
  }

  .selected-menu-item {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: rgb(35, 189, 189);
    transition: width 0.3s ease-in-out; 
    width: 5px;
  }
