.container {
    display: flex;
    height: 100%;
  }
  
  .menu {
    width: 60px;
    border-right: 1px solid #1e1f22;
    background-color: #1e1f22;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-sizing: border-box;
    position: fixed;
  }
  
  .content {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #313338;
    min-height: 100vh;
  }

  .menu-item {
    margin-bottom: 20px;
    width: 100%; /* Или нужная вам ширина, если элемент не должен быть на всю ширину */
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .menu-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease-in-out; 
  }
  
  .menu-item:hover::after {
    width: 3px;
  }
  
  .menu-item:hover {
    cursor: pointer;
  }

  .selected-menu-item {
    margin-bottom: 20px;
    width: 100%; /* Или нужная вам ширина, если элемент не должен быть на всю ширину */
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-right: solid 2px green;
  }
